<h2>More information about {{model.owner}}'s {{model.type}}</h2>

{{rental-detail rental=model}}

{{update-rental rental=model update="update"}}

<br>
<button class="btn btn-danger" {{action 'destroyRental' model}}>Delete</button>
